/* src/Page/Publication.css */
.publication-container {
  width: 60%;
  margin: auto;
  text-align: center;

  
}

.search-bar {
  margin-bottom: 20px;
}

.search-bar input {
  width: 60%;
  padding: 8px;
}

.upload-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.upload-form input {
  padding: 8px;
  font-size: 16px;
}

button {
  padding: 8px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

.publication-list {
  text-align: left;
}

.publication-item {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}
