/* Prevent content from overlapping with fixed navbar */
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-family: "Poppins", sans-serif;
}

.main-content {
  padding-top: 80px; /* Adjust this to be the same or slightly larger than your navbar height */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
